.resources__logo {
    margin: 0;
    padding: 0;
    width: 270px;
    height: 38px;
    object-fit: contain;
    opacity: 1;
    transition: opacaty .3s ease;
}

.resources__logo:hover {
    opacity: .5;
}